<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to Express Pizza</h1>
    <h2>Specialty Pizzas</h2>
    <ul>
        <li><a href="/specialty-pizza?name=Meat+Lover's+Pizza&price=12">Meat Lover's Pizza</a></li>
        <li><a href="/specialty-pizza?name=Veggie+Pizza&price=9">Veggie Pizza</a></li>
        <li><a href="/specialty-pizza?name=Supreme+Pizza&price=15">Supreme Pizza</a></li>
    </ul>
    <h2>Custom Pizza</h2>
    <a href="/pizza-builder">Build your own!</a>
    <h2>Leave a review</h2>
    <a href="/review">Click here to leave a review</a>
    <p><img src="/pizza.jpg" class="pizza-image"/></p>
</body>
</html>