<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Review Form</title>
</head>
<body>
    <h1>Leave a Review</h1>
    <form action="/review-results" method="get">
        <p>
            <label for="name">Your Name:</label>
            <input id="name" name="name" />
        </p>
        <p>
            <label for="comment">Comment:</label>
            <input id="comment" name="comment" />
        </p>
        <p>Rating:
            <input type="radio" id="5" name="rating" value="5">
            <label for="rating">5 (best)</label>
            <input type="radio" id="4" name="rating" value="4">
            <label for="rating">4</label>
            <input type="radio" id="3" name="rating" value="3">
            <label for="rating">3</label>
            <input type="radio" id="2" name="rating" value="2">
            <label for="rating">2</label>
            <input type="radio" id="1" name="rating" value="1">
            <label for="rating">1 (worst)</label>
        </p>
        <p>
            <button type="submit">Submit</button>
            <a href="/">Never Mind</a>
        </p>
    </form>
</body>
</html>